.hidden {
	display: none;
}

.above-scene {
	z-index: 5000;
}

#main-content {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#scene {
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	overflow: hidden;
}

#scene-row {
	position: absolute;
	top: 0px;
	width: 100%;
	bottom: 180px;
}

#scene-container {
	margin-left : 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	position: absolute;
	padding: 0px;
}

#collections {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 180px;
	background-color: #f5f5f5;
	border-top: 2px solid #ddd;
	overflow-y: scroll;
}

@media(min-width: 700px) {
	#sidebar {
		width: 400px;
	}
}

.prop {
	position : absolute;
}

#scene-background-image {
	z-index: -1;
}

.img-thumbnail {
	margin: 10px;
}

.scene-thumbnail, .background-thumbnail {
	width : 128px;
	height : 72px;
}

.prop-thumbnail {
	width: 50px;
}

.modal {
	z-index: 6000;
}

.new-btn {
	margin-top: 5px;
	height : 100%;
}

.image-collection {
	height: 100px;
	overflow-y: wrap;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 400px;
    width: 0;
    margin-left: -400px;
    overflow-y: auto;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 5000;
	position: fixed;
	
	top: 51px;
	bottom: 180px;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

@media(min-width:800px) {
    #sidebar-wrapper {
        width: 400px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #collections {
    	overflow-y: hidden;
    }

    #scene-container {
    	margin-left: 400px;
    }

    .image-collection {
    	overflow-y: scroll;
    }
}